
@{
    ViewData["Title"] = "ConfirmOrder";
}

<h1 class="text-center"><i class="fas fa-map-marker-alt"></i>Adress Detail</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <span class="text-black">The order will deliver in 8-10 days</span>
            </div>
            <div class="form-group">
                <span class="text-black">Thanks for Visiting Us</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label  class="control-label">Enter Adress</label>
                <input  class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Contact Number</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <a class="btn btn-primary mt-1" asp-action="Done">Confirm</a>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
</div>
</div>

